<div class="container">
	<div class="row">
		<% @customers.each do |customer| %>
			<div class="row">
				<div class="col-md-2">
						<!-- アイコン -->
						<div class="imag">
							<tr><% if customer.image.present? %>
								<%= attachment_image_tag customer, :image, :fill, 160, 160, format: 'jpeg' %>
							<% else %>
							    <%= image_tag 'customer.png', size: '160x160' %>
							<% end %></tr>
						</div>
				</div>
				<div class="col-md-2">
							<!-- ユーザーネーム -->
							<h4><%= link_to customer.customer_name, customer_path(customer.id) %></h4>

							<!-- ユーザーID -->
							<%= '@' + customer.user_id %>
				</div>
			</div>
		<% end %>
	</div>
</div>
