<div class="container">
    <div class="row">
        <div class="body">
            <div class="style_about">

                <div class="title">About</div>

                <h3>
                    ミタミヨは映画の感想投稿サイトです。<br>
                    自分が見た映画をたくさん投稿して共有しましょう<br>
                    またレビューを参考にして、良い映画を見つけ<br>
                    より良い映画ライフを楽しんでください。
                </h3>

                <div class="about">
                    <%= image_tag 'about.png', size: '600x400' %>
                </div>

            </div>
        </div>
    </div>
</div>