<div class="container">
    <div class="row">

        <div class="col-xs-7">

            <div class="top_image">
    　　　　     <div class="style_top">
                    ようこそ、ミヨミタへ！<br>
                    このサイトは、映画の感想投稿サイトです。<br>
                    会員でない方も投稿はの閲覧はできますが、<br>
                    ブックマークや投稿は登録が必要になります。<br>
                    新規登録をして、検索欄の隣のボタンから <br>
                    映画の感想を投稿してみよう！
                </div>
            </div>

    </div>
</div>
