<div class="container">
    <div class="row">

        <div class="col-xs-7">

            <div class="top_image">
    　　　　     <div class="style_top">
                    ようこそ、NaganoCakeへ！<br>
                    このサイトは、ケーキ販売のECサイトになります。<br>
                    会員でない方も商品の閲覧はできますが、<br>
                    購入には会員登録が必要になります。
                </div>
            </div>

        <div class="col-xs-2 col-xs-offset-10">
            <p><%= link_to "もっと見る＞", movies_path %></p>
        </div>


    </div>
</div>

